.card-heading{
    background: #ffffff;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    padding-top: 9px;
    box-shadow: 2px 2px 4px #b7b7b7;
}

.card-heading:hover{
    box-shadow: 2px 4px 6px #b7b7b7;
}