.card{
    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    box-shadow: 0 4px 15px rgb(153 153 153 / 30%);
    transition: 0.3s
}

.card-click-button{
    color: #000000;
    text-decoration: none;
}