<div class="row mt-3">
  <div class="col-md-4 col-12 d-flex" *ngFor="let item of productModel">
    <div class="card mb-2" style="width: 100%;">
      <app-favorite-button (selectedChange)="favorite($event,item.id)" [selected]="item.isFavorite ? item.isFavorite : false"></app-favorite-button>
      <div class="img-wrap">
        <img class="card-img-top" src="http://localhost:3000/{{item.productImage}}" alt="Card image cap">
      </div>
      <div class="card-body">
        <div class="row card-title-name">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
        <div class="row">
          <div class="col-md-6 col-6">
            <a href="#" class="btn btn-primary" routerLink="/product/{{item.id}}">Detail</a>
          </div>
          <div class="col-md-6 col-6">
            <p class="card-text card-text-money">{{item.price | currency:'USD'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>