<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="favorites">Favorites</a>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="row">
    <div class="col-md-12 mt-1 mb-1">
        <button type="button" class="btn btn-secondary" (click)="backClicked()">Go Back</button>
    </div>
</div> -->
<router-outlet></router-outlet>
