/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #f8f9fa;
}
.carousel-inner{
    max-height: 300px;
    min-height: 300px;
}

.carousel-inner img{
    height: 300px;
}
.card-heading{
    position:absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.card-heading svg{
    height: 35px;
    width: 35px;

}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1400px;
    }
}
