/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #f8f9fa;
}
.carousel-inner{
    max-height: 300px;
    min-height: 300px;
}

.carousel-inner img{
    height: 300px;
}
.card-heading{
    position:absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.card-heading svg{
    height: 35px;
    width: 35px;

}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1400px;
    }
}

.img-wrap{
    text-align: center;
    height: 400px;
}

.img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-text-money{
    float: right;
    font-size: 20px;
    font-weight: 500;
}

.card-title-name{
    height: 60px;
    padding: 0px 15px 0px 15px;
}
